atomicwrites==1.2.1
attrs==18.2.0
click==6.7
codecov==2.0.15
Flask==1.0.2
Flask-Dropzone==1.5.3
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
pluggy==0.7.1
py==1.6.0
pytest==3.8.0
pytest-cov==2.6.0
sh==1.12.14
six==1.11.0
Werkzeug==0.14.1
WTForms==2.2.1
